<%- include('includes/header'); -%>

<main class="page page__view">
  <section class="hero" style="background-image:url('<%- utils.renderBackdropUrl(locals.flick.backdropPath) -%>')">
    <div class="hero__overview">
      <div class="hero__thumbnail">
        <img src="<%- utils.renderPosterUrl(locals.flick.posterPath) -%>" />
      </div>
      <h1 class="hero__title">
        <%- locals.flick.title -%>
        <span class="hero__year"><% if (locals.flick.tmdbMediaType == 'movie') { %><%- utils.renderYear(locals.flick.releaseDate) -%><% } else { %><%- utils.renderYear(locals.flick.firstAirDate) -%><% } %></span>
      </h1>
      <ul class="hero__details">
        <li><span>Type</span><span class="u-capitalize"><%- locals.flick.mediaType -%></span></li>
        <% if (locals.flick.tmdbMediaType == 'movie') { %>
          <li>
            <span>Released</span>
            <%- utils.renderDate(locals.flick.releaseDate) -%>
          </li>
          <li>
            <span>Runtime</span>
            <%- utils.renderRuntime(locals.flick.runtime) -%>
          </li>
        <% } else { %>
          <li>
            <span>First Aired</span>
            <%- utils.renderDate(locals.flick.firstAirDate) -%>
          </li>
          <li>
            <span>Last Aired</span>
            <%- utils.renderDate(locals.flick.lastAirDate) -%>
          </li>
          <li>
            <span>Ep. Runtime</span>
            <%- utils.renderRuntime(locals.flick.episodeRunTime) -%>
          </li>
          <li>
            <span># Seasons</span>
            <%- locals.flick.numberOfSeasons -%>
          </li>
          <li>
            <span># Episodes</span>
            <%- locals.flick.numberOfEpisodes -%>
          </li>          
        <% } %>
        <!-- <li><span>Production Country</span>US</li> -->
      </ul>
    </div>
  </section>
  <div class="row">
    <% if (locals.flick.tagline) { %>
      <div class="details-section">
        <p class="details-section__tagline">
          <%- locals.flick.tagline -%>
        </p>
      </div>
    <% } %>
    <% if (locals.flick.overview) { %>
      <div class="details-section">
        <h2 class="details-section__heading">💬 Overview</h2>
        <p class="details-section__overview">
          <%- locals.flick.overview -%>
        </p>
      </div>
    <% } %>
    <!--
    <div class="details-section">
      <h2 class="details-section__heading">🎥 Trailer</h2>
      <div class="trailer">
        <iframe class="trailer__player" src="https://www.youtube-nocookie.com/embed/Rn2cf_wJ4f4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          
      </div>
    </div>
    -->
    <% if (locals.flick.posterImages) { %>
      <div class="details-section">
        <h2 class="details-section__heading">🎨 Posters</h2>       
        <div class="glide details-section__posters">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <% locals.flick.posterImages.forEach(function(path) { %>
                <li class="glide__slide details-section__poster">
                  <img src="<%- utils.renderPosterUrl(path) -%>" class="u-img-responsive">
                </li>
              <% }); %>
            </ul>
          </div>
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
          </div>        
        </div>
      </div>
    <% } %>
  </div>
</main>

<%- include('includes/footer'); -%>
