<%- include('includes/header'); -%>

<main class="page page__view">
  <section class="hero" style="background-image:url('<%- utils.renderBackdropUrl(locals.flick.backdropPath) -%>')">
    <div class="hero__overview">
      <div class="hero__thumbnail">
        <img src="<%- utils.renderPosterUrl(locals.flick.posterPath) -%>" />
      </div>
      <h1 class="hero__title">
        <%- locals.flick.title -%>
        <span class="hero__year"><% if (locals.flick.tmdbMediaType == 'movie') { %><%- utils.renderYear(locals.flick.releaseDate) -%><% } else { %><%- utils.renderYear(locals.flick.firstAirDate) -%><% } %></span>
      </h1>
      <ul class="hero__details">
        <li><span>Type</span><span class="u-capitalize"><%- locals.flick.mediaType -%></span></li>
        <% if (locals.flick.tmdbMediaType == 'movie') { %>
          <li>
            <span>Released</span>
            <%- utils.renderDate(locals.flick.releaseDate) -%>
          </li>
          <li>
            <span>Runtime</span>
            <%- utils.renderRuntime(locals.flick.runtime) -%>
          </li>
        <% } else { %>
          <li>
            <span>First Aired</span>
            <%- utils.renderDate(locals.flick.firstAirDate) -%>
          </li>
          <li>
            <span>Last Aired</span>
            <%- utils.renderDate(locals.flick.lastAirDate) -%>
          </li>
          <li>
            <span>Ep. Runtime</span>
            <%- utils.renderRuntime(locals.flick.episodeRunTime) -%>
          </li>
          <li>
            <span># Seasons</span>
            <%- locals.flick.numberOfSeasons -%>
          </li>
          <li>
            <span># Episodes</span>
            <%- locals.flick.numberOfEpisodes -%>
          </li>          
        <% } %>
      </ul>
    </div>
  </section>
  <div class="row">
    <% if (locals.flick.tagline) { %>
      <div class="details-section">
        <p class="details-section__tagline">
          <%- locals.flick.tagline -%>
        </p>
      </div>
    <% } %>
    <% if (locals.flick.overview) { %>
      <div class="details-section">
        <h2 class="details-section__heading">💬 Overview</h2>
        <p class="details-section__overview">
          <%- locals.flick.overview -%>
        </p>
      </div>
    <% } %>
    <% if (locals.flick.tmdbKeywords.length) { %>
      <div class="details-section">
        <ul class="keywords">
          <% locals.flick.tmdbKeywords.forEach(function(keyword){ %>
            <li class="keywords__keyword"><%- keyword -%></li>
          <% }); %>
        </ul>
      </div>
    <% } %>    
    <% if (locals.flick.cast.length) { %>
      <div class="details-section">
        <h2 class="details-section__heading">🧑 Top Cast</h2>
        <div class="glide glide--topcast">
          <div class="glide__track" data-glide-el="track">
            <ol class="glide__slides topcast">
              <% locals.flick.cast.slice(0, 10).forEach(function(cast) { %>
                <li class="glide__slide topcast__card">
                  <div class="topcast__headshot" style="background-image: url('<%- utils.renderHeadshotUrl(cast) -%>')"></div>
                  <div class="topcast__text">
                    <span class="topcast__name">
                      <%- cast.name -%>
                    </span>
                    <span class="topcast__role">
                      <%- utils.isMovie(locals.flick) ? cast.character : cast.roles[0].character; -%>
                    </span>
                  </div>
                </li>
              <% }); %>
            </ol>
          </div>
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
          </div>        
        </div>        
      </div>
    <% } %>
    <% if (locals.flick.videos.length) { %>
      <div class="details-section">
        <h2 class="details-section__heading">🎥 Videos</h2>
        <ul class="videos">
          <% locals.flick.videos.forEach(function(video) { %>
            <li class="videos__video-wrapper">
              <%- include('includes/youtube', {videoId: video.key, videoTitle: video.name}); -%>
            </li>
          <% }); %>          
        </ul>
      </div>
    <% } %>
    <% if (locals.flick.posterImages.length) { %>
      <div class="details-section">
        <h2 class="details-section__heading">🎨 Posters</h2>       
        <div class="glide glide--posters">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <% locals.flick.posterImages.forEach(function(path) { %>
                <li class="glide__slide details-section__poster">
                  <img loading="lazy" src="<%- utils.renderPosterUrl(path) -%>" class="u-img-responsive">
                </li>
              <% }); %>
            </ul>
          </div>
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
          </div>        
        </div>
      </div>
    <% } %>
    <% if (locals.flick.cast.length || locals.flick.crew.length) { %>
      <div class="details-section">
        <h2 class="details-section__heading">📜 Credits</h2>
        <div class="credits-outter">
          <ul class="credits">
            <% if (locals.flick.cast.length) { %>
              <% locals.flick.cast.forEach(function(cast) { %>
                <li class="credits__credit credits__credit--cast">
                  <span class="credits__role">
                    <%- utils.isMovie(locals.flick) ? cast.character : cast.roles[0].character; -%>
                  </span>
                  <span class="credits__name"><%- cast.name -%></span>
                </li>
              <% }); %>
            <% } %>
            <% if (locals.flick.crew.length) { %>   
              <% locals.flick.crew.forEach(function(crew) { %>
                <li class="credits__credit credits__credit--crew">
                  <span class="credits__role">
                    <%- utils.isMovie(locals.flick) ? crew.job : crew.jobs[0].job; -%>
                  </span>
                  <span class="credits__name"><%- crew.name -%></span>
                </li>
              <% }); %>
            <% } %>
          </ul>
        </div>
      </div>
    <% } %>     
  </div>
</main>

<%- include('includes/footer'); -%>
