<%- include('includes/header'); -%>

<main class="page page__view">
  <section class="hero" style="background-image:url('<%- utils.renderBackdropUrl(locals.flick.backdropPath) -%>')">
    <div class="hero__overview">
      <div class="hero__thumbnail">
        <img src="<%- utils.renderPosterUrl(locals.flick.posterPath) -%>" />
      </div>
      <h1 class="hero__title"><%- locals.flick.title -%> <span class="hero__year">(1995x)</span></h1>
      <ul class="hero__details">
        <li><span>Type</span><%- locals.flick.mediaType -%></li>
        <li>
          <% if (locals.flick.tmdbMediaType == 'movie') { %>
            <span>Released</span>
            <%- utils.renderDate(locals.flick.releaseDate) -%>
          <% } else { %>
            <span>First Aired</span>
            <%- utils.renderDate(locals.flick.firstAirDate) -%>
          <% } %>
        </li>
        <li><span>Runtime</span><%- utils.renderRuntime(locals.flick.runtime) -%></li>
        <!-- <li><span>Production Country</span>US</li> -->
      </ul>
    </div>
  </section>
  <div class="row">
    <% if (locals.flick.tagline) { %>
      <div class="page-section">
        <p class="tagline">
          <%- locals.flick.tagline -%>
        </p>
      </div>
    <% } %>
    <% if (locals.flick.overview) { %>
      <div class="page-section">
        <h2 class="section-heading">💬 Overview</h2>
        <p class="overview">
          <%- locals.flick.overview -%>
        </p>
      </div>
    <% } %>
    <!--
    <div class="page-section">
      <h2 class="section-heading">🎥 Trailer</h2>
      <div class="trailer">
        <iframe class="trailer__player" src="https://www.youtube-nocookie.com/embed/Rn2cf_wJ4f4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>          
      </div>
    </div>
    <div class="page-section">
      <h2 class="section-heading">📷 Images</h2>
      <img src="https://www.themoviedb.org/t/p/original/4Z5o376Fiw6r10vxqZ4jg5P1Mq7.jpg" class="flick-image" />
    </div>        
    -->
  </div>
</main>

<%- include('includes/footer'); -%>
